# Don't use quotes( " and ' )

API_ID=18728836
API_HASH=d17a2d658e90fa28b6dd50933f9a477a
SESSION=BQEdx4QAxQ_Yfznq77eE8grc8Ecs5FqfWD1k6nqdgnItZhZu2a_4SlrhbAo2_cI4BQYwKcIaSgqf5R6GrKSmdtSaulCkUPPZiMIk9K9PNWSdqpJlLpeoAgLma6_g8TvZqkNlWUefZWxE6ClzpeTNPu4UdjMYm154oUCpS5PAEXiY75YTN-oAUNFU9WsCvlaaJwlMbMnrcqjU7i_ZCebwYBa4rifMbGqRCG3qK6GLYFOOJo05MWZ4msQzNiF9tuVw44UeUB1j8IuqJ50Xrb25dQBy4Y7qTkZTXDkhLOu3yjD6Bdwv0PvqiMYCa_aVVDEFtnVZkLZrGk4jxuWLMBzvWDkIWSu3KQAAAAG0nuc3AA
REDIS_URI=redis-18839.crce182.ap-south-1-1.ec2.redns.redis-cloud.com:18839
REDIS_PASSWORD=QXgxfc9UdgU4TrS1ghovPYCleweriNdy

# [OPTIONAL]

LOG_CHANNEL=1002445830312
BOT_TOKEN=7776826792:AAGlbNoTIpMSP542RAsgCBNBW8LAIUAZwok
