# Don't use quotes( " and ' )

API_ID=18728836
API_HASH=d17a2d658e90fa28b6dd50933f9a477a
SESSION=BQEdx4QAZw8n52AhiVa7IxKGg9JaTsUHdF_6l0jsUb5IQor4MFrFFgUOPx7Pg4GCLgQEwCM3G_Tq79ZmhiySew5RhTmftPqs-t-seIFk9-A6sCWZpF14XiXpEzHZL2qYFOPcctUF2SqhjavbFKJ5CBVLNNUbvGv6jViHVBMdOqGGLxZxAjPcWIfY_-n0Rt6dzl0ZDvTgmGFiar05bCmQHLQKPfuO_dTomWa4b_1vi12NEaiNagZVZNtAtpEBxBW7X6_JIrr9xIzpUGa2WLKae16hWEtmjroCbhTttnyrXHVr-ajwnpEWYCkCr_X-tIE9ybIlHmA43syB_y8OEbZt946qSm35cgAAAAG0nuc3AA
REDIS_URI=redis-18839.crce182.ap-south-1-1.ec2.redns.redis-cloud.com:18839
REDIS_PASSWORD=QXgxfc9UdgU4TrS1ghovPYCleweriNdy

# [OPTIONAL]

LOG_CHANNEL=1002445830312
BOT_TOKEN=7776826792:AAGlbNoTIpMSP542RAsgCBNBW8LAIUAZwok
